<nav role="navigation" class="navbar">
    <div class="navbar__title">
        <img class="navbar__title-logo" src="~/images/TheCodingImposterIcon.png" alt="The coding imposter logo" />
        <a class="navbar__title-text" asp-area="" asp-controller="Home" asp-action="Index">The Coding Imposter</a>
    </div>
    <input class="navbar__search" type="search" name="searchbar" placeholder="Search" />
</nav>
