<div role="navigation" class="sidenav sidenav-hide">
    <div class="sidenav__hamburger-icon-container">
        <div class="hamburger-icon">
            <div></div>
        </div>
    </div>
    <ul class="sidenav-items">
        <li class="sidenav__item"><a asp-controller="Home" asp-action="Index">Latest posts</a></li>
        <li class="sidenav__dropdown-btn">
            <a>Categories</a>
            <i class="icon ion-md-arrow-dropdown sidenav__dropdown-selector"></i>
        </li>
        <li class="sidenav__dropdown-container" collapsed="true">
            <ul>
                <li><a href="#">Everyday blogs</a></li>
                <li><a href="#">ASP.Net Core</a></li>
                <li><a href="#">Game development</a></li>
                <li><a href="#">HTML and CSS</a></li>
            </ul>
        </li>
        <li class="sidenav__item"><a asp-controller="About" asp-action="Index">About</a></li>
    </ul>
</div>
