.article-snippet {
    background-color: #fff;
    padding: 3rem 5rem;
    border-radius: 6px;

    &:not(:last-child) {
        margin-bottom: 5rem;
    }

    &__header {
        font-size: 4rem;

        & a {
            color: #000;
            font-weight: 900;
            text-decoration: none;
        }
    }

    &__category,
    &__time {
        color: $color-grey-light-2;
        font-size: 2rem;
    }

    &__category {
        margin-bottom: 1.5rem;
    }

    &__text {
        margin-bottom: 1.5rem;

        & p {
            font-size: 2rem;
        }
    }
}
