.navbar {
    background-color: $color-grey-dark-3;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-content: center;

    &__title {
        display: grid;
        grid-template-columns: min-content 1fr;
        align-items: center;

        &-logo {
            transform: scale(70%);
        }

        &-text {
            color: #fff;
            font-size: 4rem;
            text-decoration: none;
            outline: none;
        }
    }

    &__search {
        justify-self: end;
        align-self: center;
        margin-right: 6rem;
        width: 50%;
        height: 3rem;
        padding-left: 1.4rem;
        border: none;
        border-radius: 50px;
    }
}
