.sidenav {
    grid-row: main-start / main-end;
    grid-column: sidenav-start / sidenav-end;
    background-color: #fff;
    display: grid;
    grid-template-rows: minmax(min-content, max-content);
    grid-template-columns: minmax(min-content, max-content);

    &__items {
        display: grid;
        grid-template-rows: minmax(min-content, max-content);
        grid-template-columns: minmax(min-content, max-content);
        padding-top: 2rem;
        padding-left: 2rem;
    }

    &__item,
    &__dropdown-btn {
        color: $color-grey-dark-3;
        font-size: 2.4rem;
        font-weight: 400;
        text-decoration: none;
        width: 100%;
        outline: none;

        &:not(:last-child) {
            margin-bottom: 2rem;
        }

        &:hover {
            background-color: #eee;
        }
    }

    &__dropdown {
        &-btn {
            cursor: pointer;
        }

        &-selector {
            align-self: center;
            font-size: 1.4rem;
            transform: rotate(90deg);
        }

        &-container {
            overflow: hidden;
            transition: height 0.3s ease-out;
            height: 0;

            & a {
                display: block;
                padding-left: 4rem;
                color: $color-grey-dark-3;
                font-size: 1.6rem;
                font-weight: 400;
                text-decoration: none;

                &:not(:last-child) {
                    margin-bottom: 1.6rem;
                }

                &:last-child {
                    margin-bottom: 2rem;
                }
            }
        }
    }
}
