.sidenav {
    width: 25rem;
    grid-row: main-start / main-end;
    grid-column: sidenav-start / sidenav-end;
    background-color: #fff;
    display: grid;
    grid-template-rows: minmax(min-content, max-content) 1fr;
    transition: all 0.9s;

    & ul {
        transition: all 0.8s;
    }

    &__hamburger-icon-container {
        justify-self: end;
        padding: 2rem;
        transition: transform 0.9s;
    }

    &__item, &__dropdown-btn {
        padding: 1rem 0 1rem 2rem;

        @include backgroundSlideIn;

        & a {
            color: $color-grey-dark-3;
            font-size: 2.4rem;
            font-weight: 400;
            text-decoration: none;
            outline: none;
            display: block;
        }
    }

    &__dropdown {
        &-btn {
            cursor: pointer;
            display: grid;
            grid-template-columns: repeat(2, min-content);
            align-content: center;
        }

        &-selector {
            margin-left: 1rem;
            font-size: 2.6rem;
            transform: rotate(-90deg);
            transition: transform 0.3s;
        }

        &-container {
            overflow: hidden;
            transition: height 0.3s ease-out;
            height: 0;

            & a {
                display: block;
                padding: 1rem 0 1rem 5rem;
                color: $color-grey-dark-3;
                font-size: 1.6rem;
                font-weight: 400;
                text-decoration: none;

                @include backgroundSlideIn;
            }
        }
    }

    &-hide {
        width: 8rem;

        & > div {
            transform: translateX(-7.8rem);
        }

        & ul {
            transform: translateX(-25rem);
        }
    }
}
