@{
    ViewData["Title"] = "Home";
}

<h2 class="main__header">Latest posts</h2>

<article class="article-snippet">
    <h2 class="article-snippet__header">
        <a href="#">Sample Blog Post</a>
    </h2>
    <div class="article-snippet__category">
        Everyday blog
    </div>
    <div class="article-snippet__text">
        <p>
            This is a sample blog post just so there is something for me to style against.
            This is a sample blog post just so there is something for me to style against.
            This is a sample blog post just so there is something for me to style against.
            This is a sample blog post just so there is something for me to style against.
            This is a sample blog post just so there is something for me to style against.
        </p>
    </div>
    <time class="article-snippet__time">12 January 2020</time>
</article>

<article class="article-snippet">
    <h2 class="article-snippet__header">
        <a href="#">Sample Blog Post</a>
    </h2>
    <div class="article-snippet__category">
        Everyday blog
    </div>
    <div class="article-snippet__text">
        <p>
            This is a sample blog post just so there is something for me to style against.
            This is a sample blog post just so there is something for me to style against.
            This is a sample blog post just so there is something for me to style against.
            This is a sample blog post just so there is something for me to style against.
            This is a sample blog post just so there is something for me to style against.
        </p>
    </div>
    <time class="article-snippet__time">12 January 2020</time>
</article>

<article class="article-snippet">
    <h2 class="article-snippet__header">
        <a href="#">Sample Blog Post</a>
    </h2>
    <div class="article-snippet__category">
        Everyday blog
    </div>
    <div class="article-snippet__text">
        <p>
            This is a sample blog post just so there is something for me to style against.
            This is a sample blog post just so there is something for me to style against.
            This is a sample blog post just so there is something for me to style against.
            This is a sample blog post just so there is something for me to style against.
            This is a sample blog post just so there is something for me to style against.
        </p>
    </div>
    <time class="article-snippet__time">12 January 2020</time>
</article>

<article class="article-snippet">
    <h2 class="article-snippet__header">
        <a href="#">Sample Blog Post</a>
    </h2>
    <div class="article-snippet__category">
        Everyday blog
    </div>
    <div class="article-snippet__text">
        <p>
            This is a sample blog post just so there is something for me to style against.
            This is a sample blog post just so there is something for me to style against.
            This is a sample blog post just so there is something for me to style against.
            This is a sample blog post just so there is something for me to style against.
            This is a sample blog post just so there is something for me to style against.
        </p>
    </div>
    <time class="article-snippet__time">12 January 2020</time>
</article>

<article class="article-snippet">
    <h2 class="article-snippet__header">
        <a href="#">Sample Blog Post</a>
    </h2>
    <div class="article-snippet__category">
        Everyday blog
    </div>
    <div class="article-snippet__text">
        <p>
            This is a sample blog post just so there is something for me to style against.
            This is a sample blog post just so there is something for me to style against.
            This is a sample blog post just so there is something for me to style against.
            This is a sample blog post just so there is something for me to style against.
            This is a sample blog post just so there is something for me to style against.
        </p>
    </div>
    <time class="article-snippet__time">12 January 2020</time>
</article>