*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // 1rem == 10px as browser default is 16px and 10px/16px = 62.5%
}

body {
    background-image: url("../../images/interlaced.png");
    background-repeat: repeat;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    line-height: 1.6;
}

.container {
    display: grid;
    grid-template-rows: [navbar-start] min-content [navbar-end main-start] min-content [main-end footer-start] 20rem[footer-end];

    grid-template-columns: [sidenav-start] 30rem [sidenav-end full-start] minmax(6rem, 1fr)
        [center-start] repeat(8, [col-start] minmax(min-content, 20rem) [col-end])
        [center-end] minmax(6rem, 1fr)
        [full-end]; // This is the best way to layout any page!
    }
